apiVersion: apps/v1
kind: Deployment
metadata:
  name: agent
  labels:
    app: agent
spec:
  replicas: {{ .Values.agent.replicas }}
  selector:
    matchLabels:
      app: agent
  template:
    metadata:
      labels:
        app: agent
        aadpodidbinding: {{ .Values.identity.name }}
    spec:
      containers:
      - name: agent
        image: "{{ .Values.image.name }}:{{ .Values.image.version }}"
        env:
          - name: AZP_URL
            value: {{ .Values.azdevops.url }}
          - name: AZP_TOKEN
            value: {{ .Values.azdevops.token }}
          - name: AZP_AGENT_PREFIX
            value: {{ .Values.azdevops.agent_prefix }}
          - name: AZP_POOL
            value: {{ .Values.azdevops.agent_pool }}
          - name: AZP_REMOVE_OFFLINE
            value: {{ .Values.azdevops.remove_offline }}
          - name: TER_VER
            value: {{ .Values.terraform.version }}
        lifecycle:
          preStop:
            exec:
              command: ["/bin/bash","/azp/self_clean.sh"]
        resources:
          requests: 
            cpu: {{ .Values.hpa.pod_cpu_requests }}
          limits:
            cpu: {{ .Values.hpa.pod_cpu_limits }}
      nodeSelector:
        kubernetes.io/os: linux
      imagePullSecrets:
        - name: {{ .Values.imagePullSecrets.name }}